.nav-item{
    margin-left: 20px;
}

.nav-link{
    text-transform: uppercase;
    color: black;
}

.nav-link:hover, .nav-link:focus, li>.nav-link:active{
    color: #a97854;
    font-weight: 500;
}

.dropdown-item{
    width: 200px;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
